<p>So someone took your iphone. Well, that's unfortunate.
Click the link below to take you to Apple's <b>Find My Iphone</b>
website. There you may:
</p>

<ol>
	<li>Locate and Track your device</li>
	<li>Adjust Access</li>
	<li>etc.</li>
</ol>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <a href="https://www.icloud.com/#find" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background-color: #6495ed; border-top: 12px solid #6495ed; border-bottom: 12px solid #6495ed; border-right: 18px solid #6495ed; border-left: 18px solid #6495ed; display: inline-block;">Find my Iphone &rarr;</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p>Good Luck finding your phone,</p>
<p>Your friends at BuddayGuard</p>
